{% extends "base.html" %}

{% block content %}

<form method="post" autocomplete="off">
    {% csrf_token %}

    <fieldset class="form-group">
        <label>Nome:</label>
        <input type="text" name="first_name" placeholder="Nome" value="{{ first_name }}">
    </fieldset>

    <fieldset class="form-group">
        <label>Sobrenome:</label>
        <input type="text" name="last_name" placeholder="Sobrenome" value="{{ last_name }}">
    </fieldset>

     <fieldset class="form-group">
        <label>Usuário:</label>
        <input type="text" placeholder="Seu nome de usuário" name="username" value="{{ username }}">
    </fieldset>

    <fieldset class="form-group">
        <label>E-mail:</label>
        <input type="email" name="email" placeholder="E-mail" value="{{ email }}">
    </fieldset>

    <fieldset class="form-group">
        <label>Senha:</label>
        <input type="password" name="password1" placeholder="Senha" value="{{ password1 }}">
    </fieldset>

    <fieldset class="form-group">
        <label>Confirmar Senha:</label>
        <input type="password" name="password2" placeholder="Confirmar Senha" value="{{ password2 }}">
    </fieldset>

    <button type="submit" value="Cadastrar">Cadastrar</button>

</form>

{% endblock %}

